/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container generale */
#general-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(216, 220, 214);
    position: relative;
}

/* parte superiore del container generale */
#general-container-lineup{
    width: 100%;
    height: 15%;
    background-color: rgb(0, 148, 133);
}

/* container principale */
#container{
    height: 90%;
    width: 80%;
    background-color: rgb(235, 235, 235);
    position: absolute;
    bottom: 5%;
    left: 10%;
    display: flex;
    justify-content: center;
}

.row{
    max-width: 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

/* parte sinistra del container principale */
.main-left{
    background-color: white;
}

.main-left-up{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

.user-icon > img{
    float: left;
}

.avatar{
    max-width: 10%;
}

.main-left-icons{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.main-left-icons > i{
    color: rgb(176, 176, 176);
}

/* sezione avviso ricezione notifiche */
.get-notifications{
    background-color: rgb(141, 217, 252);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.get-notifications > i{
    color: white;
    font-size: 20px;
}

.get-notifications > div{
    width: 70%;
}

div > span > a{
    color: rgb(116, 144, 135);
}

/* barra di ricerca */
.search{
    width: 90%;
}

.search-chats{
    display: flex;
    border: 1px solid rgb(116, 144, 135);
}

.search-chats > div{
    width: 10%;
    text-align: center;
}

.search-chats > div > i{
    color: rgb(116, 144, 135);
}

.search-chats > div > i:hover{
    cursor: pointer;
    color: black;
}

/* lista contatti */
.contact{
    border-top: 1px solid rgb(186, 235, 219);
    display: flex;
    justify-content: space-between;
}

.contact:hover{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.contact-left{
    display: flex;
}

.contact-left > img{
    object-fit: contain;
}

.contact-left > div > span{
    color: rgb(175, 181, 189);
    font-size: 10px;
}

.contact-right{
    color: rgb(175, 181, 189);
    font-size: 10px;
}










/* parte destra del container principale */
.main-right{
    background-color: rgb(225, 217, 209);
    position: relative;
}

.main-right-up{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

.right-user-icon > img{
    float: left;
}

.right-user-icon > div > span{
    font-size: 10px;
    color: rgb(176, 176, 176);

}

.main-right-icons{
    width: 10%;
    display: flex;
    justify-content: space-between;
    color: rgb(176, 176, 176);
}

.area-chat{
    height: 80%;
    overflow: hidden;
    background-image: url('../img/sfondo-chat.jpg');
    color: white;
}

.main-right-down{
    height: 10%;
    width: 100%;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(176, 176, 176);
}

.main-right-down > i:hover{
    cursor: pointer;
    color: black;
}

.message{
    width: 80%;
    border: none;
    border-radius: 5px;
}

/* area della chat */
.area-sent-message{
    display: flex;
    justify-content: end;
}

.sent-message{
    width: 30%;
    background-color: rgb(212, 249, 185);
    color: black;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.received-message{
    width: 30%;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.hour{
    color: rgb(176, 176, 176);
    font-size: 10px;
}
